@model NutriApp5.Models.TIPO_INFORMACION

@{
    ViewBag.Title = "Editar información";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TIPO_INFORMACION</legend>

        @Html.HiddenFor(model => model.ID_TIPO)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
