@model NutriApp5.Models.ROLES

@{
    ViewBag.Title = "Crear nuevo rol...";
}

<h2>Crear nuevo rol de usuario</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ROLES</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Crear nuevo" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>


