@model NutriApp5.Models.ROLES

@{
    ViewBag.Title = "Eliminar rol...";
}

<h2>Eliminar rol de usuario.</h2>

<h3>Desea eliminar este rol?</h3>
<fieldset>
    <legend>ROLES</legend>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">ROLESXUSUARIO</div>
    <div class="display-field">@(Model.ROLESXUSUARIO == null ? "None" : Model.ROLESXUSUARIO.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="boton-nutriApp" type="submit" value="Eliminar" /> |
        @Html.ActionLink("Atrás", "Index")
    </p>
}


