@model NutriApp5.Models.ROLES

@{
    ViewBag.Title = "Detalles de los roles...";
}

<h2>Detalle de los roles de usuario</h2>

<fieldset>
    <legend>ROLES</legend>

    <div style="text-align:left; margin-left:25px;">

        <div class="display-label">NOMBRE: @Model.NOMBRE</div>

        <div class="display-label">ROLES POR USUARIO: @(Model.ROLESXUSUARIO == null ? "None" : Model.ROLESXUSUARIO.Count.ToString())</div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID_ROL }) |
    @Html.ActionLink("Atrás", "Index")
</p>


