@model NutriApp5.Models.ROLESXUSUARIO

@{
    ViewBag.Title = "Editar rol de usuario...";
}

<h2>Editar los roles de los usuarios.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ROLESXUSUARIO</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>
