@model NutriApp5.Models.PRODUCTOSXCOMERCIO

@{
    ViewBag.Title = "Agregar producto...";
}

<h2>Agregar nuevo producto al comercio.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PRODUCTOS POR COMERCIO</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Agregar nuevo" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>


