@model NutriApp5.Models.PRODUCTOSXCOMERCIO

@{
    ViewBag.Title = "Editar productos del comercio.";
}

<h2>Editar detalles del producto por comercio.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PRODUCTOSXCOMERCIO</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>
