@model NutriApp5.Models.USUARIOXCONDICION

@{
    ViewBag.Title = "Crear nuevo usuario...";
}

<h2>Crear usuario.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>USUARIO POR CONDICION</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>


