@model NutriApp5.Models.TIPO_PRODUCTO

@{
    ViewBag.Title = "Editar Producto...";
}

<h2>Editar detalles de los productos</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TIPO_PRODUCTO</legend>

        @Html.HiddenFor(model => model.ID_TIPO)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar Cambio" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>
