@model NutriApp5.Models.BUSQUEDAS

@{
    ViewBag.Title = "Editar búsqueda...";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BUSQUEDAS</legend>

        @Html.HiddenFor(model => model.ID_BUSQUEDA)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
