@model NutriApp5.Models.TIPO_COMERCIO

@{
    ViewBag.Title = "Registrar Comercio...";
}

<h2>Crear nuevo comercio dentro de la base de datos.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TIPO_COMERCIO</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Crear Comercio" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>


