@model NutriApp5.Models.TIPO_COMERCIO

@{
    ViewBag.Title = "Editar Comercio...";
}

<h2>Editar los datos del comercio.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TIPO_COMERCIO</legend>

        @Html.HiddenFor(model => model.ID_TIPO)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
