@{
    ViewBag.Title = "Sobre el autor...";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div>
<div class="contact one">
        <h3>Rafael Oliver</h3>
        <ul>
            <li>Instituto Tecnoloógico de Costa Rica</li><br/>
            <li>Lic. Administración de Tecnología de Información</li><br/>
            <li>Correo: rolivermurillo@gmail.com</li>
        </ul>
    </div>

    <div class="contact two">
        <h3>Shuying Chung</h3>
        <ul>
            <li>Instituto Tecnoloógico de Costa Rica</li>
            <br />
            <li>Lic. Administración de Tecnología de Información</li>
            <br />
            <li>Correo: shuying4018@gmail.com</li>
        </ul>
    </div>

    <div class="contact three">
        <h3>Marvin Suarez</h3>
        <ul>
            <li>Instituto Tecnoloógico de Costa Rica</li>
            <br />
            <li>Lic. Administración de Tecnología de Información</li>
            <br />
            <li>Correo: msuarezbenson@gmail.com</li>
        </ul>
    </div>
</div>