@{
    ViewBag.Title = "NutriApp";
}
@section featured {
    <section class="featured">
        
    </section>
}
<ol class="round">
    <li style="padding:0">
        <div class="informaciones">
            <h5 class="titulo-bloque">NutriApp</h5>
            <p>
                NutriApp es una aplicación web que cuenta con objetivo de ayudar a las poblaciones con restricciones alimenticias
                como celiacos, diabéticos y vegetarianos a buscar comercios donde brindan productos para ellos.
            </p>
        </div>
    </li>

    <li>
        <div class="informaciones">
            <h5 class="titulo-bloque">Búsqueda</h5>
            <p>
                NutriApp cuenta con la función de realizar búsqueda de comercios por medio de filtros de los tipos de restricciones
                de alimentación que cuenta la aplicación.
            </p>
        </div>
        
        <!-- <a href="http://go.microsoft.com/fwlink/?LinkId=245153"></a> -->
    </li>

    <li class="noticia">
        <div class="informaciones">
            <h5 class="titulo-bloque">Noticia</h5>
            <p>
                NutriApp brinda noticias informativas actualizadas acerca de los productos, comercios, promociones entre otros más que
                se relacionan con los celiacos, diabéticos o vegetarios, además proporciona información nutricional para estas poblaciones.
            </p>
        </div>
    </li>
</ol>
