@model NutriApp5.Models.Productos.createEditProductViewModel

@{
    ViewBag.Title = "Crear nuevo producto...";
}

<h2>Crear productos</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PRODUCTOS</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Crear producto" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>


