@model NutriApp5.Models.Productos.createEditProductViewModel

@{
    ViewBag.Title = "Editar Producto...";
}

<h2>Editar producto.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PRODUCTOS</legend>

        @Html.HiddenFor(model => model.ID_PRODUCTO)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>
