@using NutriApp5.Models
@{
  
    LoginControl loginControl = LoginControl.Instance;

}

@if (loginControl.LoginActive) {
    <text>
        ¡Bienvenido, @loginControl.LogedUserName!
        @using (Html.BeginForm("LogOff", "USUARIOS", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registrarse", "Register", "USUARIOS", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "USUARIOS", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
