@model NutriApp5.Models.Busquedas.BusquedaViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="tipoBusqueda">
     
    @Html.Partial("_criteriosBusqueda",Model)
             
</div>
<div>
    

</div>


