@model NutriApp5.Models.BUSQUEDAXCOMERCIOS

@{
    ViewBag.Title = "Editar...";
}

<h2>Editar búsqueda</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BUSQUEDA POR COMERCIOS</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
