@model NutriApp5.Models.BUSQUEDAXPRODUCTOS

@{
    ViewBag.Title = "Crear búsqueda...";
}

<h2>Crear nueva búsqueda.</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BUSQUEDAXPRODUCTOS</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="boton-nutriApp" type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>


